<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cadastro de Administrador</title>
<link rel="stylesheet" href="css/adminCss/adminCad.css">
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 
	
            

</head>
<body>
	<header th:replace="fragments/padrao :: cabecalho" ></header>
	<main>
		<div class="container">
		<div class="box">

			<form method="post" class="cadForm" action="saveAdmin">
			<h1>Cadastro Admin</h1>
			<input type="hidden" name="id" th:value="${adm?.id}">
				<table>
				
				<tr>
				<td><i class="material-icons">person_pin</i></td>
				<td><input type="text"	name="nome" placeholder="Insira seu nome"  th:value="${adm?.nome}"><td>
				</tr>
				
				<tr>
				
				<td><i class="material-icons">email</i></td> 
				<td><input type="email" name="email" placeholder="insira seu email"  th:value="${adm?.email}"></td>
				
				</tr>
				
				<tr>
				
				<td><i class="material-icons">https</i></td>
				<td><input type="password" name="senha" ></td>
				
				</tr>
				<tr>
				<td><input type="submit" value="Salvar"></td>
				</tr>
				
				
				</table>
				<div th:replace="fragments/mensagem"></div>
			</form>
		</div>
	</div>
	
	</main>
</body>
</html>